parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Application\:\:getKernel\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Command/ExtractTranslationCommand.php

		-
			message: '#^Property JMS\\TranslationBundle\\Model\\Message\:\:\$desc \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: Model/Message.php

		-
			message: '#^Property JMS\\TranslationBundle\\Model\\Message\:\:\$localeString \(string\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: Model/Message.php

		-
			message: '#^Property JMS\\TranslationBundle\\Model\\Message\:\:\$localeString \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: Model/Message.php

		-
			message: '#^Strict comparison using \!\=\= between null and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 4
			path: Model/Message.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: Model/Message.php

		-
			message: '#^Strict comparison using \!\=\= between null and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 4
			path: Model/Message/XliffMessage.php

		-
			message: '#^Variable \$from in isset\(\) always exists and is always null\.$#'
			identifier: isset.variable
			count: 1
			path: Model/Message/XliffMessage.php

		-
			message: '#^Class JMS\\TranslationBundle\\Model\\MessageCollection does not have a constructor and must be instantiated without any parameters\.$#'
			identifier: new.noConstructor
			count: 1
			path: Model/MessageCatalogue.php

		-
			message: '#^Call to function is_callable\(\) with callable\(\)\: mixed will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: Model/MessageCollection.php

		-
			message: '#^Method JMS\\TranslationBundle\\Tests\\Functional\\AppKernel\:\:__construct\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: Tests/Functional/AppKernel.php

		-
			message: '#^Comparison operation "\>\=" between 1 and 0 is always true\.$#'
			identifier: greaterOrEqual.alwaysTrue
			count: 2
			path: Tests/Functional/BaseTestCase.php

		-
			message: '#^Parameter \#2 \$from of method JMS\\TranslationBundle\\Model\\Message\\XliffMessage\:\:addNote\(\) expects null, string given\.$#'
			identifier: argument.type
			count: 1
			path: Tests/Model/Message/XliffMessageTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with string will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 2
			path: Tests/Model/MessageTest.php

		-
			message: '#^Parameter \$session of method JMS\\TranslationBundle\\Tests\\Translation\\Extractor\\File\\Fixture\\Controller\:\:__construct\(\) has invalid type Symfony\\Component\\HttpFoundation\\Session\.$#'
			identifier: class.notFound
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/Controller.php

		-
			message: '#^Parameter \$translator of method JMS\\TranslationBundle\\Tests\\Translation\\Extractor\\File\\Fixture\\Controller\:\:__construct\(\) has invalid type Symfony\\Component\\Translation\\TranslatorInterface\.$#'
			identifier: class.notFound
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/Controller.php

		-
			message: '#^Undefined variable\: \$arr$#'
			identifier: variable.undefined
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/Controller.php

		-
			message: '#^Undefined variable\: \$baz$#'
			identifier: variable.undefined
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/Controller.php

		-
			message: '#^Undefined variable\: \$foo$#'
			identifier: variable.undefined
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/Controller.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: Tests/Translation/Extractor/File/Fixture/MyAttrArrayType.php

		-
			message: '#^Property JMS\\TranslationBundle\\Tests\\Translation\\Extractor\\File\\Fixture\\MyAuthException\:\:\$foo is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/MyAuthException.php

		-
			message: '#^Undefined variable\: \$foo$#'
			identifier: variable.undefined
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/MyAuthException.php

		-
			message: '#^Call to method getData\(\) on an unknown class Symfony\\Component\\Form\\Event\\DataEvent\.$#'
			identifier: class.notFound
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/MyFormSubscriber.php

		-
			message: '#^Call to method getForm\(\) on an unknown class Symfony\\Component\\Form\\Event\\DataEvent\.$#'
			identifier: class.notFound
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/MyFormSubscriber.php

		-
			message: '#^Parameter \$event of method JMS\\TranslationBundle\\Tests\\Translation\\Extractor\\File\\Fixture\\MyFormSubscriber\:\:preSetData\(\) has invalid type Symfony\\Component\\Form\\Event\\DataEvent\.$#'
			identifier: class.notFound
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/MyFormSubscriber.php

		-
			message: '#^Instantiated class JMS\\TranslationBundle\\Tests\\Translation\\Extractor\\File\\Fixture\\Length not found\.$#'
			identifier: class.notFound
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/MyFormType.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 10
			path: Tests/Translation/Extractor/File/Fixture/MyFormType.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\:\:create\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: Tests/Translation/Extractor/File/Fixture/MyFormType.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: Tests/Translation/Extractor/File/Fixture/MyFormTypeWithDefaultDomain.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: Tests/Translation/Extractor/File/Fixture/MyFormTypeWithDefaultDomainSetDefault.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 4
			path: Tests/Translation/Extractor/File/Fixture/MyFormTypeWithInterface.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: Tests/Translation/Extractor/File/Fixture/MyFormTypeWithSubscriberAndListener.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 4
			path: Tests/Translation/Extractor/File/Fixture/MyPlaceholderFormType.php

		-
			message: '#^Variable \$view might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Tests/Translation/Extractor/File/Fixture/template.html.php

		-
			message: '#^Parameter \#1 \$id of class JMS\\TranslationBundle\\Model\\Message constructor expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: Tests/Translation/Extractor/File/FormExtractorTest.php

		-
			message: '#^Property JMS\\TranslationBundle\\Tests\\Translation\\Extractor\\Fixture\\SimpleTest\\Controller\\DefaultController\:\:\$translator is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: Tests/Translation/Extractor/Fixture/SimpleTest/Controller/DefaultController.php

		-
			message: '#^Property GlobalNamespace\:\:\$translator is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: Tests/Translation/Extractor/Fixture/SimpleTest/GlobalNamespace.php

		-
			message: '#^Variable \$view might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: Tests/Translation/Extractor/Fixture/SimpleTest/Resources/views/php_template.html.php

		-
			message: '#^Method JMS\\TranslationBundle\\Tests\\Util\\FileUtilsTest\:\:__construct\(\) overrides @final method PHPUnit\\Framework\\TestCase\:\:__construct\(\)\.$#'
			identifier: method.parentMethodFinalByPhpDoc
			count: 1
			path: Tests/Util/FileUtilsTest.php

		-
			message: '#^Method PHPUnit\\Framework\\TestCase\:\:__construct\(\) invoked with 3 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: Tests/Util/FileUtilsTest.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: Translation/Extractor/File/AuthenticationMessagesExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\AuthenticationMessagesExtractor\:\:enterNode\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null\) of method PhpParser\\NodeVisitor\:\:enterNode\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/AuthenticationMessagesExtractor.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: Translation/Extractor/File/AuthenticationMessagesExtractor.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\:\:\$args\.$#'
			identifier: property.notFound
			count: 1
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^Call to function is_object\(\) with PhpParser\\Comment\\Doc will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 2
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^Instanceof between string and PhpParser\\Comment\\Doc will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\DefaultPhpFileExtractor\:\:afterTraverse\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|null\) of method PhpParser\\NodeVisitor\:\:afterTraverse\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\DefaultPhpFileExtractor\:\:beforeTraverse\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|null\) of method PhpParser\\NodeVisitor\:\:beforeTraverse\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\DefaultPhpFileExtractor\:\:enterNode\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null\) of method PhpParser\\NodeVisitor\:\:enterNode\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\DefaultPhpFileExtractor\:\:leaveNode\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null\) of method PhpParser\\NodeVisitor\:\:leaveNode\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: Translation/Extractor/File/DefaultPhpFileExtractor.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\:\:\$value\.$#'
			identifier: property.notFound
			count: 5
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\:\:\$var\.$#'
			identifier: property.notFound
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\\Expr\:\:\$value\.$#'
			identifier: property.notFound
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Call to function is_object\(\) with PhpParser\\Node\\ArrayItem will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Instanceof between PhpParser\\Node\\Expr and PhpParser\\Node\\Scalar\\Int_ will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Instanceof between PhpParser\\Node\\Name and PhpParser\\Node\\Name will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Instanceof between string and PhpParser\\Comment\\Doc will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Method JMS\\TranslationBundle\\Translation\\Extractor\\File\\FormExtractor\:\:enterNode\(\) should return null but empty return statement found\.$#'
			identifier: return.empty
			count: 2
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Method JMS\\TranslationBundle\\Translation\\Extractor\\File\\FormExtractor\:\:enterNode\(\) should return null but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Parameter \#2 \$domain of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\FormExtractor\:\:parseItem\(\) expects null, string given\.$#'
			identifier: argument.type
			count: 6
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Property JMS\\TranslationBundle\\Translation\\Extractor\\File\\FormExtractor\:\:\$defaultDomain \(string\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Strict comparison using \=\=\= between null and null will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Strict comparison using \=\=\= between string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: Translation/Extractor/File/FormExtractor.php

		-
			message: '#^Call to function is_string\(\) with PhpParser\\Node\\Identifier\|null will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: Translation/Extractor/File/TranslationContainerExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\TranslationContainerExtractor\:\:afterTraverse\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|null\) of method PhpParser\\NodeVisitor\:\:afterTraverse\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/TranslationContainerExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\TranslationContainerExtractor\:\:beforeTraverse\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|null\) of method PhpParser\\NodeVisitor\:\:beforeTraverse\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/TranslationContainerExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\TranslationContainerExtractor\:\:leaveNode\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null\) of method PhpParser\\NodeVisitor\:\:leaveNode\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/TranslationContainerExtractor.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Validator\\Mapping\\MetadataInterface\:\:getConstrainedProperties\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Translation/Extractor/File/ValidationExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\ValidationExtractor\:\:afterTraverse\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|null\) of method PhpParser\\NodeVisitor\:\:afterTraverse\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/ValidationExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\ValidationExtractor\:\:beforeTraverse\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|null\) of method PhpParser\\NodeVisitor\:\:beforeTraverse\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/ValidationExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\ValidationExtractor\:\:enterNode\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null\) of method PhpParser\\NodeVisitor\:\:enterNode\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/ValidationExtractor.php

		-
			message: '#^Return type \(void\) of method JMS\\TranslationBundle\\Translation\\Extractor\\File\\ValidationExtractor\:\:leaveNode\(\) should be compatible with return type \(array\<PhpParser\\Node\>\|int\|PhpParser\\Node\|null\) of method PhpParser\\NodeVisitor\:\:leaveNode\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: Translation/Extractor/File/ValidationExtractor.php

		-
			message: '#^Call to an undefined method Twig\\NodeVisitor\\NodeVisitorInterface\:\:setEnabled\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: Translation/Extractor/FileExtractor.php

		-
			message: '#^Property JMS\\TranslationBundle\\Translation\\Extractor\\FileExtractor\:\:\$defaultApplyingTwigVisitor \(Twig\\NodeVisitor\\NodeVisitorInterface\) in empty\(\) is not falsy\.$#'
			identifier: empty.property
			count: 2
			path: Translation/Extractor/FileExtractor.php

		-
			message: '#^Property JMS\\TranslationBundle\\Translation\\Extractor\\FileExtractor\:\:\$removingTwigVisitor \(Twig\\NodeVisitor\\NodeVisitorInterface\) in empty\(\) is not falsy\.$#'
			identifier: empty.property
			count: 2
			path: Translation/Extractor/FileExtractor.php

		-
			message: '#^Strict comparison using \!\=\= between null and Twig\\Loader\\LoaderInterface will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: Translation/Extractor/FileExtractor.php

		-
			message: '#^Strict comparison using \!\=\= between null and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: Translation/Updater.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: Translation/Updater.php

		-
			message: '#^Constructor of class JMS\\TranslationBundle\\Twig\\TranslationExtension has an unused parameter \$translator\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: Twig/TranslationExtension.php
